/* https://wess.tistory.com */

@font-face {
    font-family: 'ROKAVertical';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKAMediumVertical.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKAMediumVertical.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKAMediumVertical.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKAMediumVertical.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKAMediumVertical.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'ROKAVertical';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABoldVertical.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABoldVertical.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABoldVertical.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABoldVertical.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/armynuri/ROKABoldVertical.ttf') format("truetype");
    font-display: swap;
}